.projectBlock {
    min-height: 50vh;
    background-color: #4ab7cd;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: start;

}

.title {
    background-color: #506175;
}
@media (max-width: 450px) {
    .title  {
        font-size: 35px;
    }
}
@media (max-width: 360px) {
    .title  {
        font-size: 38px;
    }
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
