.contactsForm {
    height: 50vh;
    background-color: #3f959d;

}


.contactsContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.inputTextAreaBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid;
    width: 70%;
    height: 50%;


}
@media (max-width: 450px) {
    .title  {
        font-size: 30px;
    }
    .inputTextAreaBlock {
        width: 70%;
        height: 50%;
    }
}
@media (max-width: 360px) {
    .title  {
        font-size: 30px;
    }
    .inputTextAreaBlock {
        width: 70%;
        height: 60%;
    }
}


.title {
    background-color: #aac1de;
    display: flex;

}
