.title {
    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    background: #4e93e6;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}


.title h2 {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
}

@media (max-width: 450px) {
    .title {
        font-size: 35px;
    }
}

@media (max-width: 360px) {
    .title {
        font-size: 38px;
    }
}

@media (max-width: 718px) {
    .title {
        font-size: 25px;
    }
}