.project {

    width: 250px;
    background-color: #cdd6e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.projectHead {
    justify-content: flex-end;
}

.pic {
    width: 250px;
    height: 200px;
    background-color: #2a92e3;
    display: flex;
    justify-content: center;
    align-items: center;
}



.pic:hover {
    opacity: 2;
}

.show a{
    font-size: 30px;
    text-decoration: none;
  border: 1px solid;
}

a:hover{
   opacity: 1;
    background-color: #abc425;
}

@media (max-width: 450px) {
    .show a  {
        font-size: 40px;
    }
}
@media (max-width: 360px) {
    .show a  {
        font-size: 50px;
    }
}

@media (max-width: 360px) {
    h3 {
        font-size: 20px;
    }
    .description  {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    h3 {
        font-size: 19px;
    }
    .description  {
        font-size: 18px;
    }
}

@media (max-width: 718px) {
    .title {
        font-size: 25px;
    }
    .skills {
        justify-content: center;
    }
}
