.skillsBlock {
    min-height: 20vh;
    background-color: #8993e2;
}

.distanceWorkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.distanceWorkContainer a {
    text-decoration: none;

}

.title {

    background-color: #aac1de;
}


@media (max-width: 360px) {
    .title  {
        font-size: 30px;
    }
}