.nav {
    width: 700px;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    font-size: 29px;

}
.nav a {
 text-decoration: none;

}

@media (max-width: 450px) {
    .nav  {
        font-size: 22px;
        width: 350px;
        justify-content:space-around;

    }
}
@media (max-width: 360px) {
    .nav  {
        font-size: 21px;
        width: 350px;

        flex-direction: row-reverse;

    }
}

