.footer {
    min-height: 15vh;
    background-color: #3f959d;

}
.blocks {
    width: 40px;
    height: 40px;
    background-color: #abc425;


}
.blocksFlex {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    height: 20%;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footerContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.footerContainer h2 {
    font-size: 15px;
}

@media (max-width: 450px) {
    .nav  {
        font-size: 20px;
        width: 350px;
        justify-content:space-between;

    }
}